/* ESTILOS GALERIA */
@import "galeria" ;

@import "variables" ;

@import "footer" ;


.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
}


/* ESTILOS PARA ETIQUETAS */

h1{
    color: $color-titulos ;
    text-align: center;
}

/* ESTILOS PARA CLASS */ 

.bajada-presentacion {
    font-style: italic;
    text-align: center;
}

/* EXTEND */
.pronto-info {
    @extend .bajada-presentacion;
    font-family: sans-serif;
    font-style: normal;
    font-size: 25px;
}


.pie-pagina {
    text-align: center;
    background-color: $color-titulos ;
    color: white
}

/* MIXIN CON PARÁMETROS */
@mixin maximo($ancho, $alto) {
    max-width: $ancho;
    max-height: $alto;
}

img {
    @include maximo(100%, 100%);
}
    
#imagen {
    @include maximo(100%, 100%);
    text-align: center;
}

/* ESTILOS PARA LOS ID # */

#presentacion {
    background-color: rgb(217, 224, 233);
}
